

Use SSIS_DEMo


-- Sources

select * from CUSTOMER_BILL_DTS;


--Destinations
Select * from CUSTOMER_BILL_DTS2;
Select * from CUSTOMER_BILL_DTS3;


Select Count(*) from CUSTOMER_BILL_DTS3;

select Count(*) from CUSTOMER_BILL_DTS
where CUSTOMER_GENDER = 'f' ;


Select Count(*) from CUSTOMER_BILL_DTS3;

select Count(*) from CUSTOMER_BILL_DTS
where CUSTOMER_GENDER = 'f' ;




select Count(*) from CUSTOMER_BILL_DTS3
where CUSTOMER_GENDER = 'm' ;


Select * from CUSTOMER_BILL_DTS
where CUSTOMER_GENDER = 'F' 
except 

Select * from CUSTOMER_BILL_DTS3
;



























USE [master]
GO
/****** Object:  Database [SSIS_DEMO]    Script Date: 7/29/2019 9:51:48 PM ******/
CREATE DATABASE [SSIS_DEMO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSIS_DEMO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SSIS_DEMO.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SSIS_DEMO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SSIS_DEMO_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSIS_DEMO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSIS_DEMO]
GO
/****** Object:  Table [dbo].[CUSTOMER_BILL_DTS]    Script Date: 7/29/2019 9:51:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_BILL_DTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[CUTOMER_GENDER] [varchar](10) NULL,
	[CUSTOMER_BILL] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_BILL_DTS2]    Script Date: 7/29/2019 9:51:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_BILL_DTS2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[CUTOMER_GENDER] [varchar](10) NULL,
	[CUSTOMER_BILL] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_BILL_DTS3]    Script Date: 7/29/2019 9:51:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_BILL_DTS3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[CUTOMER_GENDER] [varchar](10) NULL,
	[CUSTOMER_BILL] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_BILL_DTS] ON 

INSERT [dbo].[CUSTOMER_BILL_DTS] ([ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUTOMER_GENDER], [CUSTOMER_BILL]) VALUES (1, 1, N'Abigail', N'F', CAST(456.00 AS Decimal(10, 2)))
INSERT [dbo].[CUSTOMER_BILL_DTS] ([ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUTOMER_GENDER], [CUSTOMER_BILL]) VALUES (2, 2, N'Adam', N'M', CAST(276.00 AS Decimal(10, 2)))
INSERT [dbo].[CUSTOMER_BILL_DTS] ([ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUTOMER_GENDER], [CUSTOMER_BILL]) VALUES (3, 3, N'Alan', N'M', CAST(300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[CUSTOMER_BILL_DTS] OFF
USE [master]
GO
